<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div style="background: #2cb742; padding-top: 20px; padding-bottom: 20px">
      <h1 style="color: white; text-align: center">WHATSAAP WEB ROBOT</h1>
      <div style="margin: auto; width: fit-content">
        <img
          style="
            height: 130px;
            width: 130px;
            object-fit: cover;
            object-position: center;
            margin: auto;
          "
          src="https://lh3.googleusercontent.com/pw/AM-JKLVu3f53tdZvSmLYPTorqGnyneAwVG_0LDR9eIhVhBpmBJpiiElg4OjoRwaGfI47jR_aZiRHrfLmqeqqLzYzDBs2OnT6jd2r6GQKAvLGtFRS573Yz3ogS8JBpa-uq2ZeGdWmQK0z7QNpSWisCnafVGc=s652-no?authuser=0"
          alt="whatsapp Robot"
        />
      </div>
    </div>
    <div
      style="
        background: #f5f5f5;
        padding-top: 40px;
        padding-bottom: 150px;
        padding-left: 10px;
        padding-right: 10px;
      "
    >
      <h2 style="margin-bottom: 50px; color: #2cb742; text-align: center; width: 100% ">
        <%= message %>
      </h2>
      <div style="margin: auto; width: fit-content">
        <a
          style="
            background: #2cb742;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            cursor: pointer;
            font-weight: bold;
          "
          href="<%= link %>"
          target="_blank"
          href=""
          >Click Change The Password</a
        >
      </div>
    </div>
  </body>
</html>
